<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body {
				text-align: center;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				max-width: max-content;
			}

			@media screen and (max-width: 550px) {
				body {
					margin-left: auto;
					margin-right: auto;
				}
			}

			h3 {
				margin: 0;
				margin-top: 2px;
			}

			#container {
				min-width: 95%;
				width: max-content;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 10px;
				border: 1px lightgray solid;
				border-radius: 8px;
				padding: 5px;
			}

			#container table {
				margin-left: auto;
				margin-right: auto;
				display: flex;
			}

			.headerTableData {
				text-align: right;
				padding: 5px;
				vertical-align: top;
				margin-left: 0;
			}

			.tableData {
				padding: 10px;
				padding-left: 15px;
				text-align: left;
				word-wrap: break-word;
				white-space: normal;
				word-break: break-all;
			}

			.button {
				margin-top: 25px;
				border-style: none;
				margin-left: auto;
				margin-right: auto;
				padding: 10px;
				border-radius: 8px;
				width: 250px;
				font-size: 20px;
				font-weight: bold;
				display: block;
				text-decoration: none;
				text-align: center;
				color: whitesmoke !important;;
			}

			#approveButton {
				background-color: #00415a;
			}

			#denyButton {
				background-color: #530000;
			}
		</style>
	</head>
	<body>
		<div style="max-width: max-content;">
			<h2>Someone wants an account!</h2>
			<div id="container">
				<table>
					<tr>
						<td class="headerTableData"><h3>Username:</h3></td>
						<td class="tableData">${input.username}</td>
					</tr>
					<tr>
						<td class="headerTableData"><h3>Email:</h3></td>
						<td class="tableData">${input.email}</td>
					</tr>
					<tr>
						<td class="headerTableData"><h3>Message:</h3></td>
						<td class="tableData">${input.message}</td>
					</tr>
				</table>
			</div>

			<a id="approveButton" class="button" href=`${input.approvalURL}`>Approve request</a>
			<a id="denyButton" class="button" href=`${input.denialURL}`>Deny request</a>
		</div>
	</body>
</html>