<html>
	<head>
		<style>
			body {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
			}
		</style>
	</head>
	<body>
		<div style="max-width: 800px;">
			<h2 style="text-align: center;">Request denied</h2>
			<p>Your account request for <b>${input.username}</b> on ${input.domain} was denied. Don't take it personally.</p>
		</div>
	</body>
</html>