<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				max-width: max-content;
			}

			@media screen and (max-width: 550px) {
				body {
					margin-left: auto;
					margin-right: auto;
				}
			}

			.linkBtn {
				margin-top: 25px;
				border-style: none;
				margin-left: auto;
				margin-right: auto;
				padding: 10px;
				border-radius: 8px;
				width: 250px;
				font-size: 20px;
				font-weight: bold;
				display: block;
				text-decoration: none;
				text-align: center;
				color: whitesmoke !important;
				background-color: #00415a !important;
			}

			.centerText {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div style="max-width: max-content;">
			<p>Good day, ${input.username}. To reset your password, click the button below. Cookies must be enabled. Link valid for ${input.validityMins} minutes.</p>
			<a class="linkBtn" href=`${input.url}`>Reset password</a>
			<br>
			<p>If you didn't request this, the feds are probably trying to get into your account.</p>
		</div>
	</body>
</html>