:root {
	--mainBackgroundColor: #06080a;
	--secondaryBackgroundColor: #15222e;
	--sectionCardColor: #11161b;
	--textFieldmainBackgroundColor: #0b0e11;

	--oddFilesBackgroundColor: #132638;
	--oddFilesBackgroundColorHSL: hsl(209, 49%, 15%);
	--evenFilesBackgroundColor: #0c1a27;
	--evenFilesBackgroundColorHSL: hsl(209, 53%, 10%);

	--selectedInputColor: #102335;
	--inputColor: #060a0c;

	--defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--descriptionFont: 'Franklin Gothic Medium', Arial, Helvetica, sans-serif;
	--defaultBorderRadius: 8px;
}

html {
	height: 100%; /* Prevents background repeating/tiling */
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Without this, the tooltip will cause horizontal scroll bar and jump downwards on mouseleave */
}

body {
	margin: 0;
	width: 100vw;
	font-family: var(--defaultFont);
	background: linear-gradient(120deg, var(--mainBackgroundColor) 47%, var(--secondaryBackgroundColor) 53%);
	background-attachment: fixed;
	background-size: 100vw;
	margin-top: 78px;
	color: whitesmoke;
	text-align: center;
}

/* Uncomment this to see borders of all elements */
/* *{
	border: 2px solid red;
} */

.sectionCard {
	width: 1100px;
	margin: 20px auto; /* top/bottom, left/right */
	padding: 32px 48px 32px; /* top, left&right, bottom */
	background-color: var(--sectionCardColor);
	border-radius: var(--defaultBorderRadius);
	box-sizing: border-box;
}

.centerCard {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	height: fit-content;
	max-height: fit-content;
	max-width: 400px;
	width: 500px;
	padding: 15px 5px 15px;
}

.noWrapContainer {
	white-space: nowrap;
	text-align: left;
}

@media screen and (max-width: 1175px) {
	.sectionCard {
		width: 95%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 700px) {
	.sectionCard {
		width: 95%;
	}
}

.centeredText {
	margin-top: 0; // get rid of top margin for headers
	text-align: center;
	cursor: default;
	display: block;
}

#filesList {
	border: 2px solid gray;
	border-radius: 10px;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.filesListItem {
	position: relative;
	color: lightgray;
	padding: 10px 20px 10px; /* top left/right bottom */

	gap: 20px;
	max-height: 800px; /* Just some random big number that it'll never get to */
	opacity: 1;

	transition: opacity 1s ease, max-height 5s linear;
	will-change: opacity, max-height;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
  	justify-content: right;
	transition: background-color 0.2s ease;

	&:hover {
		transition: background-color 0.2s ease;
		color: whitesmoke;
	}
}

.filesListItemInvisible {
	opacity: 0;
	max-height: 0;
}

.filesListItem:hover:not(.fileListItemNew) {
	transition: background-color 0.2s ease;
	background-color: #091520;
	color: whitesmoke;
}

.filesListItem:nth-child(odd) {
	background-color: var(--oddFilesBackgroundColor);
}

.filesListItem:nth-child(even) {
	background-color: var(--evenFilesBackgroundColor);
}

.filesListItem:first-child {
	border-top-left-radius: var(--defaultBorderRadius);
	border-top-right-radius: var(--defaultBorderRadius);
}

.filesListItem:last-child {
	border-bottom-left-radius: var(--defaultBorderRadius);
	border-bottom-right-radius: var(--defaultBorderRadius);
}

.fileListItemNew:nth-child(odd) {
	/* @keyframes duration | easing-function | delay | name */
	animation: .75s ease-out 0s newFileFadeOdd;
}

.fileListItemNew:nth-child(even), .syncedNotesArea {
	/* @keyframes duration | easing-function | delay | name */
	animation: .75s ease-out 0s newFileFadeEven;
}

/* HSL color interpolation seems to work better than hex. Less flickering */
@keyframes newFileFadeOdd {
	0%   {background-color: var(--oddFilesBackgroundColorHSL);}
	30%   {background-color: hsl(209, 49%, 25%);}
	100%  {background-color: var(--oddFilesBackgroundColorHSL);}
}

@keyframes newFileFadeEven {
	0%   {background-color: var(--evenFilesBackgroundColorHSL);}
	30%  {background-color: hsl(209, 53%, 20%)}
	100%  {background-color: var(--evenFilesBackgroundColorHSL);}
}

.filesListItem > .filesListItemTextComponent {
	width: 120px;
	text-align: left;
	color: rgb(163, 163, 163);
}

.filesListItem > .filesListItemComponentLeft {
	word-wrap: break-word; /* Don't want long words running off the page */
	margin-right: auto;

	// Make them look clickable:
	cursor: pointer;

	&:hover, &:active {
		text-decoration: underline;
		color: white;
	}

	&:active {
		color: #e7e7e7;
	}
}

.icon {
	transition: .1s ease;
	cursor: pointer;
	user-select: none;

	&:hover:not(:active) {
		transform: scale(1.2);
	}
}

.downloadIcon, .shareIcon, .deleteIcon {
	filter: invert(95%);
}

.downloadIcon {
	content: url("../images/download.svg");
}

.shareIcon {
	content: url("../images/share.svg");
}

.deleteIcon {
	content: url("../images/delete.svg");
}

.fieldForm {
	text-align: left;
}

.formField {
	background-color: var(--textFieldmainBackgroundColor);
	color: whitesmoke;
	font-family: var(--defaultFont);
	font-size: 18px;
	resize: none;
	width: 100%;
	height: 20px;
	padding: 16px;
	border-radius: var(--defaultBorderRadius);

	overflow: hidden; /* Prevents fields from leaving complaintField outline */
	box-sizing: border-box; /* Makes the width of the fields relative to the complaintField */
	justify-content: center;
	vertical-align: middle;
}

.formField:focus {
	border-color: lightgray;
	background-color: #070a0c;
}

.formField:not([type='checkbox']):not(:focus):hover {
	border: 2px solid lightslategray;
	transition: border 0.2s ease;
}

.alignedField {
	padding: 16px;
	margin: 0 auto 5px;
	margin-left: 20%;
}

/* credential fields */
.credField {
	font-weight: bold;
	padding: 16px;
	max-width: 60%;
	height: 60px;
}

.centeredField {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: block;
}

.formField::placeholder {
	font-weight: bold;
}

#submitBtn {
	font-size: 40px;
	width: 60px;
	height: 60px;
	padding: 0;
}

button {
	font-weight: bold;
	color: lightgrey;
	background-color: var(--inputColor);
	border: 2px solid #24272b;
	transition: 0.2s ease;
	padding: 10px;
	font-size: 17px;
	margin: 0;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	border-radius: var(--defaultBorderRadius);
	&:not(:disabled) {
		&:hover {
			color: whitesmoke;
			border: 2px solid lightslategray;
			background-color: #1c3d5c;
		}

		&:active {
			background-color: #12171d;
			border: 2px solid lightslategray;
		}
	}
}

input, textarea {
	border: 2px solid #24272b;
	transition: border 0.2s ease;
	outline: none;
}

.arrowIcon {
	content: url("../images/arrow-right.svg");
	filter: invert(95%);
	height: 100%; /* vertically center */
	width: 30px;
}

#lock {
	background: gray;
	border-radius: 3px;
	width: 25px;
	height: 20px;
	margin-top: 15px;
	position: absolute;
	left: 30px;
	top: 20	px;
}

#lock::before {
	content: "";
	display: block;
	position: absolute;
	border:3px solid gray;
	top: -14px;
	left: 2.2px;
	width: 15px;
	height: 27px;
	border-radius: 35px 35px 0 0;
	transition: .2s ease;

	/* Cuts out part of the shackle to
	/* left-top, right-top, right-center, center-center, center-bottom, left-bottom */
	clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
}

#lock:hover::before {
	top: -20px;
}

@media screen and (max-width: 450px) {
	.noWrapContainer {
		gap: 5px;
		display: flex;
	}

	#lock, #whats-this-hint, #notesDate {
		display: none;
	}

	#passwordField {
		margin-right: 0;
	}
}

#filePicker {
	display: none;
	cursor: pointer;
}

#filePickerDropArea {
	cursor: pointer;
	border: 2px dashed lightgrey;
	border-radius: var(--defaultBorderRadius);

	display: flex;
	transition: background-color 0.25s ease-out;
	margin: 0 auto 30px auto;
	max-width: 300px;
	height: 100px;
	align-items: center;
	justify-content: center;
}

#filePickerDropArea:hover {
	background-color: rgba(255, 255, 255, 0.025);
}

#filePickerDropAreaLabel {
	pointer-events: none;
	white-space: pre-line; /* wrap text when necessary and on linebreaks like \r\n */
}

.inProgressFilePickerDropArea {
	border: 2px solid lightgrey !important;
	cursor: default !important;
}

.inProgressFilePicker {
	cursor: default !important;
}

/* Idea from https://stackoverflow.com/a/57382510 */
.highlightedFilePickerDropArea {
	background: linear-gradient(90deg, lightgrey 64%, transparent 36%), linear-gradient(90deg, lightgrey 64%, transparent 36%), linear-gradient(0deg, lightgrey 64%, transparent 36%), linear-gradient(0deg, lightgrey 64%, transparent 36%);

	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;

	background-color: rgba(255, 255, 255, 0.025);
	animation: border-dance 4s infinite linear;
	padding: 2px !important;
	border: none !important;
}

@keyframes border-dance {
	0% {
		background-position: 0 0, 100% 100%, 0 100%, 100% 0;
	}
	100% {
		background-position: 100% 0, 0 100%, 0 0, 100% 100%;
	}
}

#storageBarContainer {
	margin-top: 0px;
	margin-bottom: 50px;
	width: 100%;
	height: 5px;
	border-radius: var(--defaultBorderRadius);
	position: relative;
}

#storageBarBackground {
	background: #06080a;
	width: 100%;
	position: absolute;
}

#storageBarUsed {
	background: #2c78b6;
	width: 0%;
	transition: background 1.5s ease, width 1s ease;
}

.storageBarUsedNearFull {
	background: #9b1e1e !important;
}

.storageBar {
	margin-top: 3px;
	height: 100%;
	border-radius: var(--defaultBorderRadius);
	position: absolute;
}

#storageBarLabel {
	position: relative;
}

.loadingIcon {
	content: url("../images/loading.svg");
	filter: invert(95%);
	animation: rotating 2s linear infinite;
}

#refreshButton {
	content: url("../images/refresh.svg");
	filter: invert(95%);
}

#inviteButton {
	content: url("../images/invite.svg");
}

.leftSideButton {
	float: left;
	margin-right: 10px;
}

.rightSideButton {
	float: right;
	margin-left: 10px;
}

#logoutButton {
	float: left;
	position: absolute;
	content: url("../images/logout.svg");
}


.rotatingRefresh {
	animation: rotating .5s cubic-bezier(.24,.67,.92,.64) infinite;
}

.rotatingLogin {
	animation: rotating .5s ease-in-out infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.popup {
	padding: 20px 0;
	position: fixed;
	border: 2px solid gray;
	z-index: 100;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	width: 400px;
	max-width: 95%;
	min-height: fit-content;
	display: none;
}

.popup > h2 {
	margin-top: 0;
}

.corset { // used to add padding to the left & right of elements that are too fat
	padding-left: 3%;
	padding-right: 3%;
}

#resetPswdEmailField {
	max-width: 80%;
}

#darkOverlay {
	position: fixed;
	background-color: black;
	z-index: 99;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
}

.xButton {
	z-index: 101;
	position: absolute;
	padding: 0px;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	font-size: 30px;
}

.xButtonBorderless {
	&:hover:not(:active) {
		transform: scale(1.1);
	}

	height: 20px;
	width: 20px;
	font-size: 20px;
	top: 3px;

	cursor: pointer;
	transition: transform .1s linear;
}

#sharePopupFilename, #sharePopupUploadDate, #sharePopupSize {
	display: block;
	overflow-wrap: break-word;
}

#sharePopupFilename {
	font-weight: bold;
}

#sharePopupUploadDate, #sharePopupSize {
	color: lightgray;
}

.shareDownloadLimitSelector, .shareValidityPeriodSelector, .inviteValidityPeriodSelector {
	width: 60px;
	height: 60px;
}

#inviteNameField, #inviteMessageField, .shareDownloadLimitField, .shareValidityPeriodField, .inviteValidityPeriodField, .inviteMaxUploadSizeField {
	text-align: center;
	padding: 0;
	font-weight: bold;
}

.shareActiveDownloadLimitSelector, .shareActiveDownloadLimitSelector:hover,
.shareActiveValidityPeriodSelector, .shareActiveValidityPeriodSelector:hover, .inviteActiveValidityPeriodSelector, .inviteActiveValidityPeriodSelector:hover, .inviteActiveMaxUploadSizeSelector, .inviteActiveMaxUploadSizeSelector:hover {
	background-color: var(--selectedInputColor);
	border-color: lightslategray;
}

.checkboxesContainer {
	text-align: left;
	width: 75%;
	padding-left: 20%;
	box-sizing: border-box;
}

@media screen and (max-width: 375px) {
	.alignedField {
		margin-left: 10%;
	}

	#passwordField {
		margin-right: 0;
	}

	.checkboxesContainer {
		padding-left: 5%;
	}
}

.checkboxLabel {
	vertical-align: middle;
	user-select: none;
	font-weight: bold;
	transition: color .3s ease;
}

/* Basic styling */
input[type=checkbox] {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	appearance: none;
	background: none;
	border: 0;
	outline: 0;
	flex-grow: 0;
}

/* Pseudo element for check styling */
input[type=checkbox]::before {
	content: "";
	display: block;
	width: inherit;
	height: inherit;
	border-radius: var(--defaultBorderRadius);
	border: 2px solid #24272b;
	background-color: var(--inputColor);
	transition: background-color .3s ease, border-color .3s ease;
}

input[type=checkbox]:checked::before {
	background-color: var(--selectedInputColor);
	border-color: lightslategray;
}

/* Gray out labeled if not checked (if checlox is before) */
input[type=checkbox]:not(:checked) ~ .checkboxLabel {
	color: #757575;
}


/* Disabled checkbox. Overrides user agent stylesheet trash to make nothing visible */
input[type=checkbox]:disabled {
	appearance: none;
	background: none;
	border: 0;
	outline: 0;
	flex-grow: 0;

	/* Next sibling selector to gray out checkbox */
	& ~ .checkboxLabel {
		color: rgb(84, 95, 107);
		cursor: not-allowed;
	}
}

/* Disabled pseudo */
input[type=checkbox]:disabled::before {
	background-color:  #111314;
	border-color: rgb(45, 51, 58);
	cursor: not-allowed;
}

.niceButton {
	background-color: var(--selectedInputColor);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	transition: .05s linear;
	border-color: lightslategray;
	cursor: pointer;

	&:focus {
		background-color: var(--selectedInputColor);
	}
}

#shareLinkField, #inviteLinkField {
	width: 80%;
	font-size: 15px;
	margin-top: 15px;
}

#inviteNameField {
	height: 50px;
	width: 100px;
	margin-right: 5px;
}

.inviteMaxUploadSizeSelector {
	height: 60px;
	width: 90px;
}

#inviteMessageField {
	height: 50px;
	width: 200px;
	text-align: left;
	padding: 10px;
}

#inviteMessageField::placeholder {
	text-align: center;
}

.fieldError {
	border: 2px solid darkred;
}

#buttonDock {
	margin-bottom: 25px;
}

#whats-this-hint {
	position: absolute;
	right: 20px;
	top: 20px;
}

a {
	color: #8ab4f8;
    text-decoration: none;

	&:hover, &:active {
		text-decoration: underline;
	}

	&:active {
		color: #6d8ec4;
	}
}

#stayLoggedInCheckbox::before {
	margin-left: 145px;
}

#stayLoggedInCheckboxContainer {
	margin-left: 15px;
}

#forceDownloadCheckboxContainer {
	margin-top: 8px;
	margin-left: 35px;
}

#loginCard {
	display: none;
}

.linkButton {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 7px;
	font-size: smaller;
	cursor: pointer;
}

#signupUsernameField, #signupPasswordField2, #signupMsgField {
	margin-bottom: 20px;
}

.popupBtn {
	margin: 0 auto;
    display: block;
	padding: 15px;
	cursor: pointer;

	&:disabled {
		background-color: #111;
		color: #666;
		cursor: wait;
	}
}

#signupMsgField {
	height: 61px;
	font-weight: normal;
}

@media screen and (max-width: 940px) {
	.filesListItem {
		gap: 0;
		column-gap: 10px;
		padding: 8px 8px 8px;

		/* make filename take up whole row */
		> .filesListItemComponentLeft {
			width: 100%;
		}

		/* cozy up the size and date of file*/
		> .filesListItemTextComponent {
			width: auto;
			font-size: 12px;
			padding-top: 3px;
		}
	}

	/* reduce wasted space */
	#filePickerDropArea, #buttonDock {
		margin-bottom: 10px;
	}

	/* push the delete, share, download icons to the right */
	.deleteIcon {
		margin-left: auto;
	}

	#refreshButton {
		margin-right: 10px;
		margin-top: -10px;
	}

	#logoutButton {
		margin-left: 10px;
		margin-top: -10px;
	}
}

#notesContainer {
	position: relative;
	margin-top: 20px;
	font-family: monospace;
}

#notesHeader {
	display: flex;
	align-items: center; /* Center vertically */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid #34383e;
	border-top-left-radius: var(--defaultBorderRadius);
	border-top-right-radius: var(--defaultBorderRadius);
	box-sizing: border-box;
	height: 30px;
	background-color: #08121b;
	text-align: left;
	padding: 0 20px;
}

#notesTitle {
	color: rgb(180, 180, 180);
	font-size: 16px;
	font-weight: bold;	margin-left: auto;
	margin-right: auto;
}

#notesDate {
	color: rgb(136, 136, 136);
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 430px) {
	.sectionCard {
		width: 95%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#notesStatus {
	width: max-content;
	float: right;
	font-size: 14px;
	color: rgb(136, 136, 136);	margin-left: auto;
	margin-right: auto;
}

#notesArea {
	background-color: var(--evenFilesBackgroundColor);
	color: lightgray;
	font-size: 15px;
	resize: none;
	width: 100%;
	padding: 50px 20px 35px; /* top left&right bottom */
	min-height: 50px;
	box-sizing: border-box;
	border-color: #34383e;
	border-radius: var(--defaultBorderRadius);
	overflow: hidden;
	tab-size: 4;
}

#notesCharCount {
	position: absolute;
	bottom: 12px;
	right: 12px;
	color: rgb(136, 136, 136);
}

#notesTitleContainer {
	display: block;
	width: 50%;
	text-align: left;
}

#notesDateContainer {
	display: block;
	width: 100%;
	text-align: center;
}

#notesStatusContainer {
	display: block;
	width: 50%;
	text-align: right;
}

#notesTitle, #notesDate, #notesStatus, #notesCharCount {
	user-select: none;
}

.unselectable {
	user-select: none;
}

.separator {
	color: gray;
}