.notification {
	transform: translate(-50%, -200%);
	position: fixed;
	padding: 25px;
	width: 250px;
	max-width: 85%; /* for super skinny displays like galaxy fold */
	height: 25px;
	border-radius: var(--defaultBorderRadius);
	overflow: hidden;
	z-index: 150;
	background-color: var(--sectionCardColor);
	left: 50%;
	top: 20px;
	border: 2px solid gray;
	box-shadow: 0px 0px 20px 20px rgba(0,0,0, 0.4);
	transition: transform .15s ease-out;
	white-space: pre-line; /* wrap text when necessary and on linebreaks like \r\n */

	& > span { /* The actual text of the notification */
		font-size: 16px;
		position: relative;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		cursor: default; /* remove select cursor on text */
	}

	&.shown {
		transform: translate(-50%, 0);	

		&:hover {
			transform: translate(-50%, 0) scale(1.02);
		}
	}

	&.error {
		background-color: #320000;
		border-color: #4e0000;
	}
}