<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Coming soon!</title>
		<link rel="stylesheet" type="text/css" href="../styles/deadend.css">
		<link rel="icon" href="images/icon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">
	</head>
	<body>
		<div class="sectionCard">
			<h1 class="centeredHeader">WIP</h1>
			<h3>This page doesn't exist yet.<br>But it will soon! :)<br><br><a href="/">Go back</a></h3>
		</div>
	</body>
</html>