:root {
	--mainBackgroundColor: #06080a;
	--secondaryBackgroundColor: #15222e;
	--sectionCardColor: #11161b;
	--textFieldmainBackgroundColor: #0b0e11;

	--oddComplaintsBackgroundColor: #132638;
	--evenComplaintsBackgroundColor: #0c1a27;

	--defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--descriptionFont: 'Franklin Gothic Medium', Arial, Helvetica, sans-serif;
	--defaultBorderRadius: 8px;
}

html {
	height: 100%; /* Prevents background repeating/tiling */
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	margin-top: 78px;
	font-family: var(--defaultFont);
	background: linear-gradient(110deg, var(--mainBackgroundColor) 50%, var(--secondaryBackgroundColor) 50%);
	color: whitesmoke;
	text-align: center;
}

/* Uncomment this to see borders of all elements */
/* *{
	border: 2px solid red;
} */

.sectionCard {
	width: 70%;
	max-width: 900px;
	margin-left: auto; /* this means the margins are the same, so it gets pushed to the middle */
	margin-right: auto;
	margin-bottom: 20px;
	padding: 32px 48px 32px; /* top, left&right, bottom */
	background-color: var(--sectionCardColor);
	border-radius: var(--defaultBorderRadius);
	box-sizing: border-box;
}

#complaintsCard {
	max-width: none;
}

/* Mobile viewing optimization */
@media screen and (max-width: 900px) {
	.sectionCard {
		width: 90%;
		padding: 32px 24px 32px; /* top, left&right, bottom */
	}
}

.titleCard {
	width: 480px;
	padding: 16px 0 1px 0;
	width: 60%;
	max-width: 500px;
}

#title {
	font-size: 32px;
	margin-top: 16px;
	margin-bottom: 48px;
	font-size: min(2.5vw, 24px);

	/* min-width: 300px; If the width gets smaller than this, the title gets messed up */
	filter: drop-shadow(16px 16px 16px var(--mainBackgroundColor));
}

.horizontalAngledText, .verticalAngledText {
	margin: 0;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.horizontalAngledText {
	transform: skew(60deg, -30deg) scaleY(.66667);
}

.verticalAngledText {
	transform: skew(0deg, -30deg) scaleY(1.33333);
}

.centeredHeader {
	text-align: center;
}

#aboutMeSection {
	align-items: center; /* Center vertically */
	display: flex;
}

#aboutMeSection ul {
	list-style: none;
	margin-left: 5%;
	margin-bottom: 3%;
	padding: 0;
}

#aboutMeSection li {
	font-size: 24px;
	font-family: var(--descriptionFont);
	text-align: center;
}

#heyHeader {
	font-size: 48px;
	text-align: center;
}

#mateiPic {
	margin-left: 0;
	margin-right: 0;
	width: 40%;
	max-width: 400px;
	min-width: 225px;
	border-radius: 50%; /* makes pic circular */
	background-color: var(--mainBackgroundColor);
	height: 100%; /* this is to ensure that the pic's 1:1 ratio isn't changed */
}

@media screen and (max-width: 900px) {
	#aboutMeSection {
		display: block;
		text-align: center;
	}
}

#socialLinksSection {
	align-items: center; /* Center vertically */
	justify-content: center;
	display: flex;
	gap: 20px;
}

.socialLinkIcon {
	width: 40px;
	height: 40px;
	border-radius: var(--defaultBorderRadius);
	will-change: transform;
	transition: transform .2s ease;
}

/* Expands on hover, gets small again on hold-click */
.socialLinkIcon:hover:not(:active) {
	transform: scale(1.1);
}

.divider {
	height: 2px;
	background: #999;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dashed whitesmoke;
	cursor: help;
	overflow: none;
}

.tooltip span {
	background-color: var(--mainBackgroundColor);
	color: #fff;
	display: inline-block;
	text-align: left;
	border-radius: var(--defaultBorderRadius);
	padding: 5px;
	font-size: 18px;
	white-space: nowrap; /* Want tooltip on one line */
	border: 1px solid black;
	overflow: hidden;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 130%;

	/* Popup transition */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.1s linear, visibility  0.1s  linear;
}

.tooltip:hover span {
	visibility: visible;
	opacity: 1;
}

#complaintsShowcase {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 288px;
	overflow: hidden;
}

/* Mobile viewing optimization */
@media screen and (max-width: 400px) {
	#complaintsShowcase {
		width: 100%;
		min-width: 50px;
	}
}

#complaintsList {
	border: 2px solid lightgray;
	border-radius: var(--defaultBorderRadius);
	list-style: none;
	padding-left: 0;
	margin: 0;
}


.complaintsListItem {
	color: whitesmoke;
	padding: 20px;
	text-align: left;

	max-height: 800px; /* Just some random big number that it'll never get to */
	opacity: 1;
	
	transition: opacity 1s ease, max-height 5s linear;
	will-change: opacity, max-height;
}

.complaintsListItemInvisible {
	opacity: 0;
	max-height: 0;
}

.complaintsListItem:nth-child(odd) {
	background-color: var(--oddComplaintsBackgroundColor);
}

.complaintsListItem:nth-child(even) {
	background-color: var(--evenComplaintsBackgroundColor);
}

.complaintsListItem:first-child {
	border-top-left-radius: var(--defaultBorderRadius); 
	border-top-right-radius: var(--defaultBorderRadius); 
}

.complaintsListItem:last-child {
	border-bottom-left-radius: var(--defaultBorderRadius); 
	border-bottom-right-radius: var(--defaultBorderRadius); 
}

.complaintsListItem > .complaintsListItemInfo {
	width: 100%;
	margin: auto;
	color:	slategray;
	display: inline-block;
	margin-bottom: 20px;
}

.complaintsListItem > .complaintsListItemText {
	word-wrap: break-word; /* Don't want long words running off the page */
}

#complaintFormHeader {
	line-height: 1em;
	margin-top: 75px;
}

.complaintFormDesc {
	text-align: center;
	font-size: 24px;
	font-family: var(--descriptionFont);
	display: inline !important; /* Put the descs on the same line */
	white-space: nowrap; /* Prevent the sentences from breaking */
}

#complaintForm {
	width: 45%;
	min-width: 260px;
	border: 2px solid lightgray;
	border-radius: var(--defaultBorderRadius);
	margin: 15px auto auto; /* Puts form to the middle */
	overflow: hidden;
	padding: 15px 14px 15px; /* top, left&right, bottom */
	box-sizing: border-box;
}

/* Mobile viewing optimization */
@media screen and (max-width: 400px) {
	#complaintForm {
		min-width: 30px;
		width: 100%;
	}
}

.complaintFieldError {
	border: 2px solid darkred;
}

.formField, #formSubmit {
	background-color: var(--textFieldmainBackgroundColor);
	color: whitesmoke;
	font-family: var(--defaultFont);
	font-size: 18px;
	resize: none;
	width: 100%;
	padding: 16px;
	border-radius: var(--defaultBorderRadius);
	display: flex;
	overflow: hidden; /* Prevents fields from leaving complaintField outline */
	box-sizing: border-box; /* Makes the width of the fields relative to the complaintField */
	margin: 0px auto 16px; /* top, left&right, bottom */
}

.formField::placeholder {
	font-weight: bolder;
}

#messageBox {
	border-radius: var(--defaultBorderRadius);
	font-size: 16px;
	text-align: center;
	color: whitesmoke;
	
	padding: 3px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	
}

.hiddenMessageBox {
	display: none;
}

.successMessageBox {
	border: 10px groove  rgb(0, 128, 28);
	background-color: rgb(0, 53, 0);
	display: block;
}

.errorMessageBox {
	border: 10px groove  darkred;
	background-color: rgb(43, 0, 0);
	display: block;
}

#formSubmit {
	font-weight: bold;
	color: lightgrey;
	transition: 0.2s ease;
	width: 40%;
	max-width: 200px;
	min-width: 150px;
	margin: auto;
	text-align: center;
	justify-content: center;
	cursor: pointer;
}

#formSubmit:hover {
	color: whitesmoke;
	transition: 0.2s ease;
	background-color: #1f2831;
}

#formSubmit:mouse {
	color: whitesmoke;
	transition: 0.2s ease;
	background-color: #1f2831;
}

#formSubmit:active {
	background-color: #12171d;
}