/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #131416;;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3a3f44;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}