:root {
	--navbarColor: #0D1117;
	--mainBackgroundColor: #06080a;
	--secondaryBackgroundColor: #15222e;
	--sectionContainerColor: #11161b;
	--textFieldmainBackgroundColor: #0b0e11;

	--oddComplaintsBackgroundColor: #132638;;
	--evenComplaintsBackgroundColor: #0c1a27;;

	--defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--defaultBorderRadius: 8px;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Holy cow, never remove this. Without this, the tooltip will cause horizontal scroll bar and jump downwards on mouseleave */
}

body {
	margin: 0;
	margin-top: 65px;
	font-family: var(--defaultFont);
	background: linear-gradient(110deg, var(--mainBackgroundColor) 50%, var(--secondaryBackgroundColor) 50%);
	color: whitesmoke;
}

/* Uncomment this to see borders of all elements */
/* *{
	border: 2px solid red;
} */


#navigationBar {
	position: fixed;
	top: 0; /* Pushes navbar to the top of the screen - always */
	z-index: 1; /* layering priority - higher value -> on top */

	display: flex;
	left: 0; right: 0; /* This makes the navbar span across the whole page */
	align-items: center; /* Center vertically */
	justify-content: center; /* Hugs the elements together in the center */
	
	padding: 12px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--navbarColor);
}

#navigationBar a {
	color: rgb(187, 187, 187); /* light grey */
	text-decoration: none;
}


#navigationBar a:hover {
	color:whitesmoke;
	transition: 0.2s ease;
}

#navigationBar ul {
	margin: 0;
}

#navigationBar li {
	display: inline;
	margin-right: 16px;
}

#logo {
	width: 32px;
	filter: invert(80%); /* Maybe bad design. Just have a white logo instead? */
}

#logo:hover {
	filter: invert(95%) drop-shadow(0px 0px 2px lightgray); /* First 2 params are the x and y offsets (we want no offset b/c we want the shadow to look like a "glow" directly behind logo). 3rd param is the blur-radius */
}

.sectionContainer {
	width: 60%;
	margin-left: auto; /* this means the margins are the same, so it gets pushed to the middle */
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 32px;
	padding-bottom: 32px;

	background-color: var(--sectionContainerColor);
	border-radius: var(--defaultBorderRadius);
}

/* Mobile viewing optimization */
@media screen and (max-width: 400px) {
	.sectionContainer {
		width: 65%;
	}
}

.titleContainer {
	width: 480px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 16px;
	padding-bottom: 1px;
	width: 80%;
	max-width: 600px;
}

#title {
	font-size: 32px;
	margin-top: 16px;
	margin-bottom: 48px;
	font-size: min(3vw, 32px);

	/* min-width: 300px; If the width gets smaller than this, the title gets messed up */
	filter: drop-shadow(16px 16px 16px var(--mainBackgroundColor));
}

.horizontalAngledText, .verticalAngledText {
	margin: 0;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.horizontalAngledText {
	transform: skew(60deg, -30deg) scaleY(.66667);
}

.verticalAngledText {
	transform: skew(0deg, -30deg) scaleY(1.33333);
}

.centeredHeader {
	text-align: center;
}

#aboutMeSection {
	align-items: center; /* Center vertically */
	display: flex;
}

#aboutMeSection ul {
	list-style: none;
	margin-left: 5%;
	margin-bottom: 3%;
	padding: 0;
}

#aboutMeSection li {
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

#heyHeader {
	font-size: 48px;
	text-align: center;
}

#mateiPic {
	margin-left: 0;
	margin-right: 0;
	width: 40%;
	max-width: 400px;
	min-width: 225px;
	border-radius: 50%; /* makes pic circular */
	background-color: var(--mainBackgroundColor);
	height: 100%; /* this is to ensure that the pic's 1:1 ratio isn't changed */
}

@media screen and (max-width: 900px) {
	#aboutMeSection {
		display: block;
		text-align: center;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dashed whitesmoke;
	cursor: help;
	overflow: none;
}
  
.tooltip span {
	visibility: hidden;
	background-color: var(--mainBackgroundColor);
	color: #fff;
	display: inline-block;
	text-align: left;
	border-radius: var(--defaultBorderRadius);
	padding: 5px;
	font-size: 18px;
	white-space: nowrap; /* Want tooltip on one line */
	border: 1px solid black;
	

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 130%;
}

.tooltip:hover span {
	visibility: visible;
}

#complaintsShowcase {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 288px;
	overflow: hidden;
}

/* Mobile viewing optimization */
@media screen and (max-width: 400px) {
	#complaintsShowcase {
		width: 100%;
		min-width: 50px;
	}
}

#complaintsList {
	border: 2px solid lightgray;
	border-radius: var(--defaultBorderRadius);
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.complaintsListItem {
	color:whitesmoke;
	padding: 20px;
	text-align: left;
}

.complaintsListItem:nth-child(odd) {
	background-color: var(--oddComplaintsBackgroundColor);
}

.complaintsListItem:nth-child(even) {
	background-color: var(--evenComplaintsBackgroundColor);
}

.complaintsListItem:first-child {
	border-top-left-radius: var(--defaultBorderRadius); 
	border-top-right-radius: var(--defaultBorderRadius); 
}

.complaintsListItem:last-child {
	border-bottom-left-radius: var(--defaultBorderRadius); 
	border-bottom-right-radius: var(--defaultBorderRadius); 
}

.complaintsListItem > .complaintsListItemInfo {
	width: 100%;
	margin: auto;
	color:	slategray;
	display: inline-block;
	margin-bottom: 20px;
}

.complaintsListItem > .complaintsListItemText {
	word-wrap: break-word; /* Don't want long words running off the page */
}

#complaintFormHeader {
	line-height: 1em;
	margin-top: 75px;
}

#complaintFormDesc {
	text-align: center;
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 15px;
}

#complaintForm {
	width: 50%;
	min-width: 288px;
	border: 2px solid lightgray;
	border-radius: var(--defaultBorderRadius);
	margin: auto; /* Puts form to the middle */
}

/* Mobile viewing optimization */
@media screen and (max-width: 400px) {
	#complaintForm {
		min-width: 30px;
		width: 100%;
	}
}

#complaintForm fieldset {
	border: 0;
	overflow: hidden;
}

.complaintFieldError {
	border: 2px solid darkred;
}

.formField, #formSubmit {
	background-color: var(--textFieldmainBackgroundColor);
	color: whitesmoke;
	font-family: var(--defaultFont);
	font-size: 18px;
	resize: none;
	width: 100%;
	padding: 16px;
	border-radius: var(--defaultBorderRadius);
	display: flex;
	overflow: hidden; /* Prevents fields from leaving fieldset outline */
	box-sizing: border-box; /* Makes the width of the fields relative to the fieldset outline */
	margin-top: 16px;
	margin-bottom: 16px;
}

.formField::placeholder {
	font-weight: bolder;
}

.hideMessageBox {
	display: none;
}

.successMessageBox {
	border: 10px groove  rgb(0, 128, 28);
	background-color: rgb(0, 53, 0);
	border-radius: var(--defaultBorderRadius);
	
	font-size: 16px;
	text-align: center;
	color: whitesmoke;
	
	padding: 3px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}

.errorMessageBox {
	border: 10px groove  darkred;
	background-color: rgb(43, 0, 0);
	border-radius: var(--defaultBorderRadius);
	
	font-size: 16px;
	text-align: center;
	color: whitesmoke;
	
	padding: 3px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}

#formSubmit {
	font-weight: bold;
	color: lightgrey;
	transition: 0.2s ease;
	width: 40%;
	max-width: 200px;
	min-width: 150px;
	margin: auto;
	text-align: center;
	justify-content: center;
}

#formSubmit:hover {
	color: whitesmoke;
	transition: 0.2s ease;
	background-color: #1f2831;
}

#formSubmit:mouse {
	color: whitesmoke;
	transition: 0.2s ease;
	background-color: #1f2831;
}

#formSubmit:active {
	background-color: #12171d;
}