:root{
	--navbarColor: #0D1117;
	--backgroundColor: #06080a;
	--mainSectionColorDark: #11161b;
	--textFieldBackgroundColor: #0b0e11;
	--defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--defaultBorderRadius: 8px;
}

html, body{
	width: 100%;
}

body{
	margin: 0;
	margin-top: 65px;
	font-family: var(--defaultFont);
	background-color: var(--backgroundColor);
}

#navigationBar{
	position: fixed;
	top: 0; /* Pushes navbar to the top of the screen - always */
	z-index: 1; /* layering priority - higher value -> on top */

	display: flex;
	left: 0; right: 0; /* This makes the navbar span across the whole page */
	align-items: center; /* Center vertically */
	justify-content: center; /* Hugs the elements together in the center */
	
	padding: 12px;
	margin-left: auto;
	margin-right: auto;

	color: whitesmoke;
	background-color: var(--navbarColor);
}

#navigationBar a{
	color: rgb(187, 187, 187); /* light grey */
	text-decoration: none;
}


#navigationBar a:hover{
	color:whitesmoke;
	transition: 0.2s ease;
}

#navigationBar ul{
	margin: 0;
}

#navigationBar li{
	display: inline;
	margin-right: 16px;
}

#logo{
	width: 32px;
	filter: invert(80%); /* Maybe bad design. Just have a white logo instead? */
}

#logo:hover{
	filter: invert(95%) drop-shadow(0px 0px 2px lightgray); /* First 2 params are the x and y offsets (we want no offset b/c we want the shadow to look like a "glow" directly behind logo). 3rd param is the blur-radius */
}

.sectionContainer{
	width: 60%;
	margin-left: auto; /* this means the margins are the same, so it gets pushed to the middle */
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 16px;
	padding-bottom: 16px;

	background-color: var(--mainSectionColorDark);
	color: whitesmoke;
	border-radius: var(--defaultBorderRadius);
}

.titleContainer{
	width: 480px;
	padding-left: 0;
	padding-right: 0;
}


@media (max-width: 650px){
	.titleContainer{
		width: 60%;
		padding-left: 48px;
		padding-right: 48px;
	}
}

#title{
	font-size: 32px;
	margin-top: 16px;
	margin-bottom: 48px;
	min-width: 300px; /* If the width gets smaller than this, the title gets messed up */
	filter: drop-shadow(16px 16px 16px var(--backgroundColor));
}

/* Make the font smaller when the screen width gets too small */
@media (max-width: 675px) {
	#title {
	  /* font-size: 20px; */
	  font-size: 4.7vw;
	}
  }

.horizontalAngledText, .verticalAngledText{
	margin: 0;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.horizontalAngledText{
	transform: skew(60deg, -30deg) scaleY(.66667);
}

.verticalAngledText{
	transform: skew(0deg, -30deg) scaleY(1.33333);
}

#infoSection{
	margin-top: 25px;
	display: flex;
	justify-content: center; /* Hugs the elements together in the center */
}

.infoBlock{
	width: 30%;
	margin-left: auto; /* centers the info blocks */
	margin-right: auto; /* centers the info blocks */
	min-width: 300px;
	font-size: 18px;
}


.infoBlock h1{
	font-size: 32px;
	text-align: center;
}

/* stack elements upon small screen width */
@media screen and (max-width: 1200px){
	#infoSection{
		display: block;
	}
}

#mateiPic{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	border-radius: 50%; /* makes pic circular */
	background-color: var(--backgroundColor);
}

#cross{
	writing-mode: vertical-lr;
	/*text-orientation: sideways;*/
	transform:scale(-1);
}

#complaintForm{
	width: 50%;
	min-width: 288px;
	border: 2px solid lightgray;
	border-radius: var(--defaultBorderRadius);
	margin: auto; /* Puts form to the middle */
}

#complaintForm input, textarea{
	background-color: var(--textFieldBackgroundColor);
	color: whitesmoke;
	font-family: var(--defaultFont);
	resize: none;
	width: 100%;
	padding: 16px;
	border-radius: var(--defaultBorderRadius);
	overflow: hidden;
	display: inline-block;
	overflow: hidden; /* Prevents fields from leaving fieldset outline */
	box-sizing: border-box; /* Makes the width of the fields relative to the fieldset outline */
	margin-top: 16px;
	margin-bottom: 16px;
}

#complaintForm fieldset{
	border: 0;
	overflow: hidden;
}


#complaintForm input, textarea::placeholder{
	font-weight: bolder;
}
